/* Styles for Big Sky by M. C. DeMarco.
   Background pattern from subtlepatterns.com */

/* basics */

* {
    box-sizing:border-box;
}

/* layout */

html, body, div.bodyWrapper {
    box-sizing:border-box;
    margin:0;
    height:100%;
    width:100%;
}

body {
    height: 100vh;
    min-height:680px;
    overflow:auto;
}

/* font and color */

@font-face {
    font-family: "Fortune Letters";
    src: url("./fortune-letters.ttf") format("truetype");
}

body {
    background-image: url('./skulls.png');
    background-color: rgba(159,211,242,0.55); /* 1#9FD3F1 */
    font-family: 'Segoe UI', 'Century Gothic', 'Lucida Grande', Tahoma, 'Gill Sans', sans-serif;
    color:#EBEEF1;
}

span.legible {
    font-family: 'Segoe UI', 'Century Gothic', 'Lucida Grande', Tahoma, 'Gill Sans', sans-serif;
}

div.wrapper {
    padding: 3%;
    margin: 1% 10%;
    height:auto;
    border-radius:10px;
    color: #003;
}
div.wrapper.big {
    font-size: large;
    text-align:center;
}

h1, h2, h3, h4, h5, h6, strong, label, th {
    font-family: 'Fortune Letters', Futura, Geneva, sans-serif;
}

h1, h2, h3, h4 {
   text-align:center;
}

button {
    font-family: 'Fortune Letters', Futura, Geneva, sans-serif;
    font-weight:bold;
    font-size: medium;
    padding: 3px 4px;
    margin: 5px;
}
button.mainButton, button.arrow {
    border-radius: 6px;
    background-color: white;
}
button.mainButton {
    font-weight:normal;
}
button.arrow {
    position:absolute;
    border-radius:50%;
    padding: 4px 6px;
    width:auto;
    margin:0 auto;
}

span.bigger, span.smaller {
    background-color: rgba(226,225,248,0.75); /*#E1E1F8*/
    border-radius: 3px;
}

span.bigger {
    margin: 4px;
    padding: 4px 8px;
    border: 2px solid #003;
}

span.smaller {
    margin: 4px;
    padding: 4px 8px;
    border: 1px solid #464653;
}

.nowrapp {
    white-space:nowrap;
}

a, a:visited, a:hover {
    color: #30306C;
}

footer {
    text-align:center;
}

img.smallMoon {
    height:20px;
    width:20px;
    vertical-align:bottom;
    background-color: white;
    border: 2px solid #38486C;
    border-radius: 50%;
}

div.footer cite {
    display:block;
    font-size:smaller;
}

ul, ol {
    line-height:1.5;
}

/* mobile */

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
p, input, textarea {
 -webkit-user-select: text;
 -moz-user-select: text;
 -ms-user-select: text;
 user-select: text;
}

table {
    border-collapse: collapse;
    margin-left: 5%;
}

th, td {
    border: 2px solid #38486C;
    padding: 4px;
    text-align:center;
}

table.bordered th {
    text-align:right;
    width: 20%;
} 
table.bordered td {
    width: 10%;
}

td.unbordered, th.unbordered {
    border: 0;
}

.capitalize {
    text-transform: capitalize;
}

input[type=number] {
    width: 4em;
}

/* the popup rules */

div.modal,
div.modal2 {
    position: fixed;
    top: 5%;
    right: 5%;
    width:66%;
    min-width:660px;
    padding: 2em;
    border: 2px solid #003;
    border-radius: 12px;
    z-index: 3;
    box-shadow:0 1px 8px rgba(123,143,183,0.75);
    background: linear-gradient(rgba(123,143,183,0.75), rgba(179,190,212,0.55)), url('./skulls.png');
    text-align:center;
    max-height: 650px;
    overflow:auto;
}

div.modal p {
    text-align: justify;
}

/* cards */

/* Sizing
   original card size: 100x150
   teeny size: 62x87
   remix card size: 124x174
   embiggened size: 186x261
   card source file size: 372x522 
*/

img.ref {
    border-radius:6px;
    max-width: 363px;
    max-height: 363px;
    margin: 0.5em;
}

img.card {
    width:124px;
    height:174px;
    border-radius:6px;
    background-color: rgba(179,190,212,0.15); /* rgba(123,143,183,0.95);*/
    border:thin solid #003;
    background-size:124px 174px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

div.waste {
    position: relative;
    z-index: 5;
    min-width: 124px;
}

.waste img.card {
    position: absolute;
}

.foundation img.card {
    margin: 5px;
}

/* unsvelted */

  card:hover {
    border-color: purple!important;;
  }
  card.lower {
    border-color: tomato!important;
  }
  card.higher {
    border-color: maroon!important;
  }
  card.shift {
    border-color: red!important;
  }
  card.hover {
    border-color: #555!important;;
    opacity: 1 !important;
  }
  card.fade {
    opacity: 0.5;
  }
  vbutton.show {
    display:block!important;
  }
